@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Eudoxus Sans', sans-serif;
	scroll-behavior: smooth;
}

// utils
.br {
	border: 1px solid red;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle {
	display: flex;

	align-items: center;
}

.stack {
	display: flex;
	flex-direction: column;
	& > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
	}
}

.input_field_component {
	@apply flex flex-col space-y-2 p-3;

	label {
		@apply capitalize font-semibold text-sm;
	}

	.input_field {
		@apply p-3  border font-semibold  text-sm;
	}
}

// .empty-list {
// 	transform: translate(-50%);
// }
